<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <div id="wrapper">
        <main>
            <header>
                <%- include('../partials/header') %>
                <%- include('../partials/navigation') %>
            </header>
            
            <%- body %>
            
            <footer>
                <%- include('../partials/footer') %>
            </footer>
        </main>
    </div>
</body>
</html>